:root {
	--mainColor: darkslategrey;
	--secondaryColor: aliceblue;
}

body{
    max-width: 100vw;
    max-height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100vw;
    top:0;
    z-index: 1;
    font-size: 18px;
}

li {
    float:left;
}

li a {
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    
    display: block;
    color: var(--secondaryColor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    transition: 0.5s;
}

.current {
    background-color: var(--mainColor);
}


.textManrope {
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

*, html {
    margin:0;
    padding:0;  
}

@media screen and (min-width: 480px) {
    span {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 480px) {
    span {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 2px;
    }

}